
@model Ofertalaboral



<div class="card mb-4 shadow-sm">
    @*<img src="@(string.IsNullOrEmpty(Model.CoverImageUrl) ? "/images/noimage.png" : Model.CoverImageUrl)" class="img-thumbnail" />*@
    <div class="card-body">
        <h4 class="card-title"style="color:blue">@(string.IsNullOrEmpty(Model.Titulooferta) ? "Name is not available" : Model.Titulooferta)</h4>
        <p class="card-text">@(string.IsNullOrEmpty(Model.Detalleoferta) ? "Description is not availabe": Model.Detalleoferta)</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <a asp-route="ofertaDetailsRoute" asp-route-id="@Model.Id"
                   class="btn btn-sm btn-outline-secondary">View details</a>
            </div>
            <small class="text-muted">Publicado el @(string.IsNullOrEmpty(Model.Fechapublicacion.ToString()) ? "NA" : Model.Fechapublicacion)</small>

            <small class="text-muted" >Publicado el @Html.ValueFor(modelItem => Model.Fechapublicacion, "{0:dd/MM/yyyy}")</small>
            @{
                int jornada = Model.Jornada.Id;


            }
            @if (jornada == 1)
            {
                <small class="text-primary" id="txtJornada"  >@Model.Jornada.Descripcion</small>
            }
            else
            {
        <small class="text-danger" id="txtJornada" >@Model.Jornada.Descripcion</small>
            }


        </div>
    </div>
</div>


@*<div class="card" style="max-width: 500px;">
    <div class="row no-gutters">
        <div class="col-sm-5" style="background: #868e96;" >
            <img src="~/Images/15c60ebd-b11f-4727-8cf6-15b6e9df2962-carbon.png" class="card-img-top h-100" alt="..." style=" margin: 20px"  >
        </div>
        <div class="col-sm-7">
            <div class="card-body">
                <h5 class="card-title">@(string.IsNullOrEmpty(Model.Titulooferta) ? "Name is not available" : Model.Titulooferta)</h5>
                <p class="card-text">@(string.IsNullOrEmpty(Model.Detalleoferta) ? "Description is not availabe": Model.Detalleoferta)</p>
                <a href="#" class="btn btn-primary stretched-link">View Details</a>
            </div>
        </div>
    </div>
</div>*@