@{
    ViewData["Title"] = "Ofert detail ";
}
@model Ofertalaboral





    @*<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        @<embed src="@Model.BookPdfUrl" class="w-100" />@
                        @<iframe src="@Model.BookPdfUrl" class="w-100"></iframe>@
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>*@

    






<div class="container">
    <h3 class="display-4">Oferta details</h3>




    <div class="card">
        <div class="card-header">
            @Model.Titulooferta
        </div>
























        <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" role="presentation">
                <a class="nav-link active" id="detalleoferta-tab" data-toggle="tab" href="#detalleoferta" role="tab" aria-controls="detalleoferta" aria-selected="true">Detalle de oferta</a>
            </li>
            <li class="nav-item" role="presentation">
                <a class="nav-link" id="sobrempresa-tab" data-toggle="tab" href="#sobrempresa" role="tab" aria-controls="sobrempresa" aria-selected="false">Sobre la empresa</a>
            </li>

        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="detalleoferta" role="tabpanel" aria-labelledby="detalleoferta-tab">
                <div class="row">
                    <div class="col-md-6">
                        <!--<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                        <ol class="carousel-indicators">


                            }
                        </ol>-->
                        @*<div class="carousel-inner">
                                @for (int i = 0; i < Model.Gallery.Count(); i++)
                                {
                                    <div class="@(i==0 ? "carousel-item active" : "carousel-item") ">
                                        <img class="d-block w-100" src="@Model.Gallery[i].URL" alt="@Model.Gallery[i].Name">
                                    </div>
                                }

                            </div>*@
                        <!--<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>-->
                        <h3>Detalle Oferta</h3>
                        <div class="text-body">
                            @Model.Detalleoferta
                        </div>




                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>@Model.Titulooferta</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-primary">
                                <span class="label label-primary">By: </span>
                                <span class="monospaced">@Model.Fechapublicacion.ToString()</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="description">
                                    @Model.Detalleoferta
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <a class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
                                    Read now
                                </a>
                            </div>
                        </div>

                        <hr />

                        <ul class="list-group">
                            <li class="list-group-item"><span class="font-weight-bold">JOrnada - </span> @Model.Jornada.Descripcion</li>
                            <li class="list-group-item"><span class="font-weight-bold">Sueldo - </span> S/. @Model.Salario </li>
                            <li class="list-group-item"><span class="font-weight-bold">Empresa - </span> @Model.Empresa.Razonsocial</li>
                        </ul>
                    </div>
                </div>
            </div>











            <div class="tab-pane fade" id="sobrempresa" role="tabpanel" aria-labelledby="sobrempresa-tab">
                <div class="row">
                    <div class="col-md-6">







                        @*<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">*@

                        @*<div class="carousel-inner">*@

                        <div>
                            <img class="d-block w-100" style="height:20px;width:20px" src="~/Images/15c60ebd-b11f-4727-8cf6-15b6e9df2962-carbon.png" alt="NUESTRO LOGO">
                        </div>


                        @*</div>*@
                        @*<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="sr-only">Previous</span>
                            </a>
                            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="sr-only">Next</span>
                            </a>*@
                        @*</div>*@















                        <h3>@Model.Empresa.Razonsocial</h3>
                        <div class="text-body">
                            @Model.Empresa.Descripcionempr
                        </div>




                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>Consideraciones</h1>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 text-primary">
                                <span class="label label-primary">By: </span>
                                <span class="monospaced">@Model.Empresa.Industria</span>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <p class="description">
                                    @Model.Detalleoferta
                                </p>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-4">
                                <a class="btn btn-outline-primary" data-toggle="modal" data-target="#exampleModal">
                                    Read now
                                </a>
                            </div>
                        </div>

                        <hr />

                        <ul class="list-group">
                            <li class="list-group-item"><span class="font-weight-bold">JOrnada - </span> @Model.Empresa.Industria</li>
                            <li class="list-group-item"><span class="font-weight-bold">Sueldo - </span> @Model.Empresa.Telefono </li>
                            <li class="list-group-item"><span class="font-weight-bold">Empresa - </span> @Model.Empresa.Ubicacion</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>


    </div>
    <!---end card -->
    <!---button postular-->
    <div class="card">
    <div class="card-body">
        <div class="btn-group">
           

            <a asp-action="Postular" asp-controller="DetPostuof" class="btn btn-primary my-2">Postularme</a>
        </div>

   </div>
    </div>

    <!---end button postular-->

    <hr />


    @*<button type="button" class="btn btn-primary" asp-controller="DetPostuof" asp-action="Postular">Postularme</button>*@






    <div class="py-5 bg-light" id="similarBooks">
        <h3 class="h3">Similar books</h3>




        @await Component.InvokeAsync("SimilarOfertas", new { id = Model.Id })






    </div>








</div>

      
